body {
  background: "Survivor.jpg";
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
container{
    display: flex;
    flex-direction: column;
}

/* Main class */
.aboutus {

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
  border: 5px;
  border-width: medium;
  border-color: black;
  background-size: cover;
}

#vision {
  background-image: url('../static/Aboutus-images/vision1.jpg');
  background-size: cover;
  background-color: #cccccc;
}

#mission {
  background-image: url('../static/Aboutus-images/grassmission.jpg');
  background-size: cover;
  background-color: gray;
}

#foundersNote {
  background-image: url('../static/Aboutus-images/founder.jpg');
  background-size: cover;
  background-color: #cccccc;
}

/* Image from our vision */
.image {
  margin: 0;
  border: 0;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
}

/* Heading from our vision */
.heading {
  float: middle;
  margin: 0;
  position: relative;
  padding: 8% 10% 5% 10%;

  text-align: center;
  color: white;
  font-size: 500%;


  z-index: 2;
}

/* Quote from our vision, mission */
.quote {
  font-size: 1.8vw;
  margin: 0 auto;
  padding: 3% 10% 12% 10%;
  width: 80%;
  color: black;
  opacity: 99%;
  z-index: 3;
  text-align: center;
}

/* Founder's note */
.note {
  margin: 0 auto;
  padding: 3% 0% 6% 0%;
  width: 90%;
  color: black;
  text-align: justify;
}
